

<launch>

  <!-- 加载 URDF 文件到参数服务器 -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find arm_modle)/model/arx5h.urdf'" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" >
   <param name="publish_frequency" value="50.0" />
    
 

  </node>

  <!--node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
  <param name="use_gui" value="false"/>
</node-->
<!-- 启动 rviz 并加载配置文件 -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find arm_modle)/launch/1.rviz" />
</launch>
