<!-- launch/control.launch -->

<launch>
    <param name="/use_sim_time" value="true" />

  <!-- 加载 URDF 文件到参数服务器 -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find arm_modle)/model/X5liteaa0mod.urdf'" />

  <!-- 包含空世界的启动文件 -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <!-- 可以在这里更改其他默认参数 -->
  </include>

  <!-- 在 Gazebo 中生成机器人模型 -->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -z 0 -model X5liteaa0" />

  <!-- 发布关节状态 -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

  <!-- 发布 TF 信息 -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <!-- 加载控制器配置文件 -->
  <rosparam file="$(find arm_modle)/config/controllers.yaml" command="load"/>

  <!-- 启动 controller_manager -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="arm_controller" />
</launch>